coverage
flake8
flake8-bugbear
flake8-colors
flake8-commas
flake8-deprecated
flake8-mutable
flake8-mypy
flake8-pep3101
flake8-print
flake8-quotes
honcho
pyflakes
pytest
pytest-dotenv
pytest-mock
python-dotenv
tox
werkzeug
